.card {
    background-color: white;
    border-radius: 22px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}
.title {
    font-weight: bold;
}
.image {
    width: 300px;
    height: 400px;
    object-fit:cover;
    overflow: hidden;
}
.description {
    padding: 15px;
    height: 150px;
}
.more {
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);
    position: absolute;
    padding: 15px;
    bottom: 10px;
    right: 0;
}
.more:hover {
    color: black;
}
.starButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 15px;
    position: absolute;
    bottom: 10px;
}
.starButton::after {
    transition: opacity 0.4s ease;
    opacity: 0;
    content: attr(data-button-tooltip);
    color: rgba(31, 32, 65, 0.5);
    position: absolute;
    width: 200px
}

.starButton:hover::after {
    opacity: 1;
}