.footer {
    margin-top: auto;
    padding: 16px 0;
    color: white;
}
.logo {
    padding: 30px;;
}

.bottom {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-top: 2px solid rgba(31, 32, 65, 0.25);
}
.bottom>p  {
    padding-left: 30px;
}

