.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
}
.items {
    list-style: none;
    display: flex;
    padding: 0;
    margin: auto;
}
.item {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}
.item:hover {
    color: black;
    text-decoration: underline;
}
.item-active {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}
.menu button:first-of-type {
    margin-left: auto;
}
.language {
    background: transparent;
    border: 0;
    cursor: pointer;
}
@media screen and (max-width: 1200px) {
    .items {
        margin: 0;
    }
}
@media screen and (max-width: 980px) {
    .menu {
        width: 50vw;
        position: absolute;
        flex-direction: column;
        top: 100px;
        right: 10px;
        background: rgba(104,99,141,.97);
        padding: 10px;
        margin: 0;
        border: 2px solid #bc9cff;
        border-radius: 20px;
    }
    .items {
        flex-direction: column;
        justify-content: space-evenly;
        height: 150px;
        padding: 0;
        text-align: center;
    }
    .item {
        font-size: 20px;
        margin: 0;
    }
    .menu button:first-of-type {
        margin: 10px 0;
    }
}
@media screen and (max-width: 870px) {
    .menu {
        width: 400px;
        top: 170px;
        left: 10px;
    }
}
@media screen and (max-width: 400px) {
    .menu {
        width: 300px;
        left: 0;
    }
}