.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.title {
  text-align: center;
}
.label {
  display: block;
  margin-bottom: 5px;
}
.open {
  display: flex;
}
.form {
  color: white;
  background: rgba(0,0,0,.9);
  border-radius: 22px;
  position: relative;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #bc9cff;
  margin: auto 0;
}
.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.field {
  position: relative;
}
.input {
  margin: 10px 10px 70px 10px;
  border-radius: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 30px;
  height: 40px;
}
.error {
  display: block;
  position: absolute;
  color: tomato;
  font-size: 14px;
  padding-top: 3px;
  top: 75px;
}

@media screen and (max-width: 870px) {
  .form {
    padding: 5px;
  }
}
@media screen and (max-width: 500px) {
  .form {
    width: 300px;
  }
}
