@import url('./fonts/fonts.css');
body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: rgb(71,41,78);
  background: radial-gradient(circle, rgba(71,41,78,1) 23%, rgba(104,99,141,1) 69%);
  min-width: 320px;
  padding: 0;
}
input:focus{
  outline: none;
}
